<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>

    <!--<script src="/socket.io/socket.io.js"></script>-->


    <script>
//        var socket = io.connect("http://localhost:3000/");
//
//        socket.on('connect', function() {
//            var sessionid = socket.io.engine.id;
//            console.log(sessionid);
//        });



//        io.on('connection', function(socket){
//            socket.join('some room');
//        });
//
//
//        var sid = socket.sessionid;
//        console.log(sid);

//        socket.on('some event', function(msg){
//            console.log("private : " + msg);
//        });
//
//        socket.on('chat message', function(msg){
//            console.log(msg);
//        });
    </script>

</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4" style="width: 420px; height: 320px">
            <script
                    src="http://localhost:3000/javascripts/jsf2.js"
                    data-background-color="#FFFFFF"
                    data-body-border="1px solid #C0C0C0"
                    data-color="white"
                    data-body-border-radius="0"
                    data-bottom-background="#22225E"
                    data-button-background="#B543A0">

            </script>
        </div>

        <div class="col-md-4">

            <script
                    src="http://localhost:3000/javascripts/jsfNF.js">
            </script>

            <!--<script-->
                    <!--src="/javascripts/jsf.js"-->
                    <!--data-background-color="green"-->
                    <!--data-color="black"-->
                    <!--data-body-border="2px solid red"-->
                    <!--data-width="480"-->
                    <!--data-height="480"-->
                    <!--data-body-border-radius="10">-->

            <!--</script>-->
        </div>

        <!--
        <div class="col-md-4">
            <script
                    src="/javascripts/jsf.js"
                    data-background-color="yellow"
                    data-color="red"
                    data-width="1200"
                    data-height="700"
                    data-body-border-radius="20">

            </script>
        </div>

        <div class="col-md-4">
            <script
                    src="/javascripts/jsf.js"
                    data-background-color="blue"
                    data-color="white"
                    data-width="768"
                    data-height="1024"
                    data-body-border-radius="5">
            </script>
        </div>
        -->
    </div>
</div>

</body>
</html>