<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel='stylesheet' href='res/bootstrap.css'/>
</head>
<body>

<div class="plug-container">
</div>


<script>
    console.log("script tag N1");
</script>


<script>
</script>

<script>
    function createPaymentFrame(containerId) {
        var container = document.getElementById(containerId);
    }
</script>

<div>
    <script src="/javascripts/jsf.js" data-color="red" data-background-color="gray"></script>
</div>

<script>
</script>


<script>
</script>

</body>
</html