<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <script
                    src="/javascripts/jsf.js"
                    data-background-color="#F2F2F2"
                    data-body-border="1px solid black"
                    data-color="white"
                    data-width="640"
                    data-height="480"
                    data-body-border-radius="0">

            </script>
        </div>

        <div class="col-md-4">
            <script
                    src="/javascripts/jsf.js"
                    data-background-color="green"
                    data-color="black"
                    data-width="480"
                    data-height="480"
                    data-body-border-radius="10">

            </script>
        </div>

        <div class="col-md-4">
            <script
                    src="/javascripts/jsf.js"
                    data-background-color="yellow"
                    data-color="red"
                    data-width="1200"
                    data-height="700"
                    data-body-border-radius="20">

            </script>
        </div>

        <div class="col-md-4">
            <script
                    src="/javascripts/jsf.js"
                    data-background-color="blue"
                    data-color="white"
                    data-width="768"
                    data-height="1024"
                    data-body-border-radius="5">

            </script>
        </div>
    </div>
</div>

</body>
</html>