<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>

    <style>
        /*
        .has-error > label {
            padding-right: 30px;
            padding-left: 0 !important;
        }

        .has-error {
            padding-right: 0 !important;
            padding-left: 0 !important;
        }

        .has-error > .col-sm-9 {
            padding-right: 0 !important;
            padding-left: 0 !important;
        }
        */

        .has-error {
            margin-right: -15px;
            margin-left: -15px;
            margin-bottom: 15px;
            padding: 0;
            /*padding-left: 0px;
            padding-right: 0px;*/
        }

    </style>

</head>

<body>
<div class="container">
    <div class="row">
        <div>
            <legend>Payment</legend>
        </div>

        <div>
            <form>
                <h4>Add payment:</h4>
                <div class="panel panel-default">
                    <div class="panel-body form-horizontal payment-form">
                        <div class="form-group" id="phone_form">
                            <label for="phone_number" class="col-sm-3 control-label">Phone number</label>
                            <div class="col-sm-9">
                                <input type="text" onchange="validate()" class="form-control" id="phone_number"
                                       name="phone_number" placeholder="phone_number">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="order_id" class="col-sm-3 control-label">order_id</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="order_id" name="order_id"
                                       value="test4207135583456">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="order_desc" class="col-sm-3 control-label">order_desc</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="order_desc" name="order_desc"
                                       value="Test payment">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="amount" class="col-sm-3 control-label">amount</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" id="amount" name="amount" value="10">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="currency" class="col-sm-3 control-label">currency</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="currency" name="currency">
                                    <option>RUB</option>
                                    <option>EUR</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="merchant_id" class="col-sm-3 control-label">merchant_id (use 1396424 for
                                test)</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="merchant_id" name="merchant_id"
                                       value="1396424">
                            </div>
                        </div>

                    </div>
                </div>
            </form>
            <button style="float:right;" type="button" class="btn btn-default" onclick="request()"> Next</button>
        </div> <!-- / panel preview -->
    </div>


    <script>
        function validate() {
            var phone_number = document.getElementById("phone_number");
            var phone_form = document.getElementById("phone_form");

            var data = {
                phone_number: phone_number.value
            };

            var xmlhttp = new XMLHttpRequest();
            var url = "/validatePhone";
            xmlhttp.open('post', url, true);
            xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState == XMLHttpRequest.DONE) {
                    if (xmlhttp.status == 200) {

                        if (xmlhttp.response == "error") {
                            console.log("error");
                            phone_form.className = "panel-body form-horizontal has-error payment-form"
                        } else if (xmlhttp.response == "success") {
                            console.log("success");
                        }

                    } else {
                        console.log(xmlhttp.status);
                    }
                }
            };

            xmlhttp.send(JSON.stringify(data));
        }
    </script>


    <script>
        function request() {
            var orderId = document.getElementById("order_id");
            var orderDesc = document.getElementById("order_desc");
            var currency = document.getElementById("currency");
            var amount = document.getElementById("amount");
            //var signature = document.getElementById("signature");
            //var productID = document.getElementById("product_id");
            var merchantID = document.getElementById("merchant_id");

            var data = {
                //"request": {
                "order_id": orderId.value,
                "order_desc": orderDesc.value,
                "currency": currency.value,
                "amount": amount.value,
                //"signature": signature.value,
                //"product_id": productID.value,
                //"merchant_id": merchantID.value,
                "merchant_id": merchantID.value
                //}
            };

            var xmlhttp = new XMLHttpRequest();

            //var url = "https://api.fondy.eu/api/checkout/redirect/";
            var url = "/payparams";
            xmlhttp.open('post', url, true);
            xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState == XMLHttpRequest.DONE) {
                    if (xmlhttp.status == 200) {
                        window.location = url;
                        console.log(xmlhttp.status);
                    } else {
                        console.log(xmlhttp.status);
                    }
                }
            };
            xmlhttp.send(JSON.stringify(data));
        }
    </script>
</div>

</body>
</html>
